{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Albums</h1>

    <div id="albumPage"></div>


    <script>

        fetch('/api/albums/')
            .then(res => res.json())
            .then(albums => {
                const container = document.getElementById('albumPage');
                albums.forEach(album => {
                    const div = document.createElement('div');
                    div.className = 'track';
                    div.innerHTML = `
                        <a href="/albums/${album.id}/"><button><img src="${album.cover}" alt="cover" class="track-cover"></button></a>
                        <div class="track-info">
                            <strong>${album.title}</strong><br/>
                            <strong>${album.artist}</strong><br/>
                        </div>
                        <a href="/albums/${album.id}/"><button>️▶</button></a>
                    `

                    container.appendChild(div);
                })

        })

    </script>

{% endblock %}