{% extends 'layouts/base.html' %}

{% block content %}

<div id="trackDetail">

<script>
const title = "{{ title }}";
const artist = "{{ artist }}";

fetch(`/api/search/external/?item=${encodeURIComponent(title)}&artist=${encodeURIComponent(artist)}`)
    .then(res => res.json())
    .then(results => {
        const track = results.find(t => t.title === title && t.artist === artist);

        if (track){
            const div = document.getElementById('trackDetail');
            div.className = 'track';
            div.innerHTML = `
                <img src="${track.cover}" class="track-cover" />
                <h2>${track.title}</h2>
                <p>${track.artist} — ${track.genre}</p>
                <audio controls src="${track.audio_file}" class="track-audio"></audio>
            `;
        }else{
            document.getElementById('trackDetail').innerText = "Track was not found or preview is not available";
        }
    });


</script>
</div>

{% endblock %}
